@import "variables"
@import "header"
*
    font-family: 'MuseoModerno', cursive
.container
    max-width: 945px
    margin: 0 auto
.promo
    height: 650px
    padding: 21px 0 93px 0
    background-image: url('../img/bg.jpg') 
    
@import "buttons"
@import "benefits"
@import "media"
@import "consultation"
@import "forms"
    